<div class = "container">
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="to do">
      <button class="add-button">+</button>
    </div>
    <table>
      <tr class="even">
        <td>
          <pre>
            program in kotlin
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>
            program in python
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="even">
        <td>
          <pre>
            program in C-sharp
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>
            program in C++
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>